
#-------------------------
# Database PostgresSQL
#-------------------------

spring.datasource.driver-class-name=org.postgresql.Driver

spring.datasource.username=postgres
spring.datasource.password=postgres
spring.datasource.url=jdbc:postgresql://localhost:5432/threaddb
#-------------------------
# ORM settings
#-------------------------

spring.jpa.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

spring.jpa.hibernate.ddl-auto=update

spring.jpa.show-sql=true

spring.main.allow-bean-definition-overriding=true

#-------------------------
# auth0 settings
#-------------------------

auth0.secret-key:eyJhbGciOiJIUzI1NiJ9eyJzdWIiOiJKb2UifQ1KP0SsvENi7Uz1oQc07aXTL7kpQG5jBNIybqr601234561dds

#-------------------------
# Image Storage
#-------------------------
# IMGUR_ID - has to be changed to a real key from Imgur
# IMGUR_SECRET - has to be changed to a real key from Imgur
imgur.id = imgurclientid
imgur.secret = imgurclientsecret


spring.jackson.serialization.fail-on-empty-beans=false